@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%; /* Black */
    --foreground: 0 0% 98%; /* Adjust foreground for visibility on black */
    --card: 0 0% 9%; /* Optional: Slightly lighter black for card elements */
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    /* --ring: 0 0% 83.1%; */
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.overflow-hidden {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.hide-scrollable {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

.hide-scrollable::-webkit-scrollbar {
  display: none; 
}

.audio {
  display: none; 
}

.input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: #e0e0e0;
  height: 5px;
  border-radius: 5px;
  outline: none;
}

.input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #3498db;
  cursor: pointer;
}

.input[type="range"]:focus {
  outline: none;
}

.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; 
  position: relative;
 
}

table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse; 
}

td, th {
  padding: 12px; 
  word-wrap: break-word; 
}

@media (max-width: 768px) {
  table {
    min-width: 600px;
  }
}

td {
  vertical-align: top;
}

.table-row {
  transition: background-color 0.3s ease-in-out;
}

.transition-transform {
  transition: transform 0.5s ease-in-out;
}

.transform {
  /* Required for smooth toggling */
}

input:-webkit-autofill {
  background-color: rgba(31, 41, 55, 0.8) !important; 
  color: white !important; 
  /* border-color: rgba(156, 163, 175, 0.25) !important; Matches border-gray-400 and border-opacity-25 */
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s; 
}

.ant-input-number-input {
  color: white !important; 
}


.ant-upload-drag-icon {
  color: white !important;  
}

.ant-upload-list-item .ant-upload-list-item-icon {
  color: white !important;  
}

.ant-upload-list-item-actions > button .anticon {
  color: white !important; 
  visibility: visible !important;
}

.ant-upload-list-item-actions > button:hover .anticon {
  color: white !important; 
}

.ant-upload-list-item-name {
  color: white !important; 
}

.ant-upload-text {
  color: white !important; 
}

.ant-input-number-input {
  color: white !important; 
}

.ant-upload-list-item:hover .ant-upload-list-item-icon {
  color: white !important; 
}

.anticon {
  color: white !important;
}

audio::-webkit-media-controls {
  background-color: transparent !important;
}

audio {
  background-color: transparent !important;
}

audio::-webkit-media-controls-panel {
  background-color: transparent !important;
  border: none !important;
}

audio::-ms-media-controls-panel {
  background-color: transparent !important;
}

.ant-upload-list-item-actions {
  opacity: 1 !important;
  visibility: visible !important;
}


.loading-text {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

.dot-animate::after {
  content: '.';
  animation: dots 1.5s steps(3, end) infinite;
}

@keyframes dots {
  0% {
    content: '';
  }
  33% {
    content: '.';
  }
  66% {
    content: '..';
  }
  100% {
    content: '...';
  }
}

.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 150px;
  background-color: #15171C;
  color: #fff;
  text-align: left;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  bottom: 120%; 
  left: 50%;
  margin-left: -100px; 
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.ant-tooltip-inner {
  background-color: #ffff !important; 
  color: black !important;             
  font-size: 14px;                      
}
